<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "banner2.jpg" %>);">
  <h1>Cookbook</h1>
  <p>Save your favourites recipes</p>
</div>

<div class="container">
  <h1>List of Categories</h1>

  <ul>
    <% @categories.each do |category| %>
    <li><%= link_to category.name.capitalize, category_path(category) %> | <%= link_to "delete", category_path(category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
    <% end %>
  </ul>

  <%= link_to "add a new category", new_category_path %>
</div>
